.banner {
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #fefefe;
    padding: 3rem;
}

.banner > a {
    color: black;
    text-decoration: none;
}

.banner > .buttonGroup {
    display: flex;
    flex-direction: row;
    justify-content: right;
    flex: 0.4;
    gap: 1rem;

    > a {
        margin: auto 0;
    }
}

.buttonGroup > a {
    text-decoration: none;
}

.admin span, .home span, .inbox span {
    border-bottom: 2px solid var(--navds-button-color-tertiary-text);
}