/* Project grid view */
.tileWrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    justify-content: space-between;
}

/* Project entry list */
.insightHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 0 1rem;
}

.insightHeader > p {
    font-variant-position: sub;
}

/* ProjectDetails */
.detailWrapper {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
