.navbarContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    background-color: white;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;

    > * {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    div:last-child {
        margin-right: 3rem;
    }
}