@media (max-width: 769px) {
    .modalContentWrapper {
        width: 90vw !important;
        margin: 2.5rem auto !important;
    }
}

/* Search Modals */
.modalContentWrapper {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 1rem;
    width: 40rem;
    height: 30rem;
}

.results {
    overflow-y: scroll;
    height: 20rem;
    background-color: var(--nav-light-gray);
    padding: 1rem;
    border-radius: 0.2rem;
}

.result {
    border: 0.2rem solid var(--navds-text-field-color-border);
    background-color: white;
    border-radius: 0.2rem;
    padding: 1rem;
}

.result:hover {
    border-color: var(--navds-text-field-color-border-hover);
    cursor: pointer;
}

.result + .result {
    margin: 0.5rem 0 0;
}
