.buttonGroup {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
    margin: 1.5rem 0 0;
}

.messageHeading {
    display: flex;
    flex-direction: row;

    svg {
        margin: auto 2rem auto 0;
        font-size: 2rem;
    }
}

.messageHeading:hover {
    > h1 {
        text-decoration: underline;
        cursor: pointer;
    }
}

.open {
    display: block;
    margin: 1rem 0 0;
}

.closed {
    display: none;
}
