/* View PROFILE */
.candidateInfo {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
}

.citizenDataButtonContainer {
    display: flex;
    justify-content: center;
}

.admin {
    gap: 1rem;
    margin: 0 0 1rem;

    h1 {
        margin: 0 0 1rem;
    }

    > p {
        margin: 0 0 1rem;
    }
}
