.landingPageWrapper {
    display: flex;
    flex-direction: column;
    margin: 5rem auto;
    justify-content: center;
    gap: 10rem;
}

.selectionCardsWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    .selectionCard {
        flex: 0.2;
        background-color: var(--navds-semantic-color-component-background-light);
        border-radius: 0.5rem;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        padding: 1.5rem;
        text-decoration: none;
        color: black;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        cursor: pointer;
    }
}

.selectionCard:hover {
    background: #ccf1d6;
    transition: all 0.25s ease-in-out;

    h1 {
        text-decoration: none;
    }
}
