/* View PROFILE */
.candidateInfo {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
}

.citizenDataButtonContainer {
    display: flex;
    justify-content: center;
}
