.headerContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
    
    .consentHeader {
        margin-bottom: 1rem;
    }
}

.heartIconContainer {
    position: relative;
    top: -3.25rem;
    
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #E0D8E9;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
}

.consentTextContainer {
    p {
        margin: 1rem 0;
    }

    li {
        margin: 0.5rem 0;
    }

    ul {
        margin: 1rem 0;
    }
}

.moreInformationContianer {
    display: flex;
    flex-direction: column;
}