.registrationInfoContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;

    .registrationInfo {
        margin-bottom: 1rem;
    }
}

.heartIconContainer {
    position: relative;
    top: -3.25rem;
    
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #E0D8E9;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
}

.citizenInfoInputContainer {
    background-color: #E0D8E9 !important;
}

.ageInput {
    width: 5rem;
    margin-top: 2rem;
}

.phoneInput {
    width: 10rem;
    margin-top: 2rem;
}

.navigationInput {
    display: flex;
    justify-content: flex-end;
    max-width: var(--body-width);
    margin: 2.5rem auto;

    button {
        margin: 0 0.5rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }
}