.citizenInfoInputContainer {
    background-color: #E0D8E9 !important;
}

.input {
    margin-top: 2rem;
}

.ageInput {
    width: 5rem;
    margin-top: 2rem;
}

.phoneInput {
    width: 12rem;
    margin-top: 2rem;
}

.navigationInput {
    display: flex;
    justify-content: flex-end;
    max-width: var(--body-width);
    margin: 2.5rem auto;

    button {
        margin: 0 0.5rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

.criteriaAlert {
    margin: 0 auto;
    max-width: var(--body-width);
}
