/* COMMON */
.dates {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-top: 0.5rem;
}

.dates > p {
    margin: auto 0;
}

/* Project entry list */
.insightHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 0 1rem;
}

.insightHeader > p {
    font-variant-position: sub;
}

/* EmployeeCurrentProjects */
.currentProjectsContainer {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;

    h1 {
        margin: 0 0 0.5rem;
    }

    > * {
        margin-top: 1rem;
    }
}

.projectsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    margin: 0 0 2rem;
}

/* Project Insight Entry */
.progress {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 0 0 1rem;
}

/* Project Insight Candidates */

.cardContainer {
    margin: 1rem 0 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;

    > .card {
        padding: 1rem;
        border-radius: 0.5rem;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

        > p {
            font-weight: normal;
        }

        > .labelAccepted,
        > .labelCompleted {
            color: green;
        }

        > .labelDenied {
            color: red;
        }

        > .labelPending {
            color: orange;
        }
    }
}

/* Project edit */
.projectEdit {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* EmployeeInsightConfiguration */
.wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border-radius: 4px;
    padding: 1rem;
}

.insightInfo {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.listHeader > svg {
    margin: auto 0 0 0.5rem;
    vertical-align: middle;
    cursor: pointer;
}

.listItem {
    display: flex;
    flex-direction: row;
}

.listItem + .listItem {
    margin-top: 1rem;
}

.listItem > div {
    border: 1px solid black;
    border-radius: 0.3rem;
    padding: 0.5rem;
    flex: 1;
}

.listItem > svg {
    margin: auto 0 auto 1rem;
    color: var(--navds-button-color-primary-background);
    font-size: 1.5rem;
    cursor: pointer;
}

/* ProjectTeam */
.header {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}
