.banner {
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #fefefe;
    padding: 3rem;
}

.banner > a {
    color: black;
    text-decoration: none;
}

.banner > .buttonGroup {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 0.3;

    > a {
        margin: auto 0;
    }
}
