/* Criteria Administration */
.criteriaWrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.accordionBody {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
