.candidates-properties-container {
    background-color: lightgray;
    padding-left: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 0.5rem;

    display: grid;
    grid-template-columns: auto auto auto;
}


