.candidate-profile-info-container {
    display: flex;
    flex-direction: row;
    background-color: lightgray;
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-left: 2rem;
    margin-top: 1.25rem;
}

.name-and-xp-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 1rem;
    p {
        margin: 0;
    }
}