.candidateInfo {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
}

.buttons {
    display: flex;
    display: row;
    gap: 1rem;
}

.buttons > button {
    flex: 1;
}
