@media (max-width: 769px) {
    .wrapper {
        position: relative !important;
        right: inherit !important;
        margin: 2.5rem 1rem !important;
    }
}

.wrapper {
    position: absolute;
    /* Position element to the left of body with 1rem margin */
    /* (Full width - body width / 2) = Width between screen border and body */
    /* Move element from right side to get anchor on correct side (from right) */
    right: calc(((100% - var(--body-width)) / 2) + var(--body-width) + 1rem);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}

.tab {
    background-color: #fff;
    padding: 0.5rem;
    min-width: 12rem;
    color: var(--navds-semantic-color-text-muted);
    display: flex;
    flex-direction: row;
    border-radius: 4px;

    > svg {
        margin: auto 0.5rem auto 0;
    }
}

.tab:hover {
    cursor: pointer;
}

.active {
    border-bottom: var(--navds-semantic-color-interaction-primary) solid 4px;
    padding-bottom: calc(0.5rem - 4px);
    color: black;
}

.hiddenContent {
    display: none;
}
