/* InsightProjectTile */
.projectTile {
    background-color: white;
    border-radius: 0.2rem;
    padding: 1rem;

    color: black;
}

/* Project Insight Entry */
.progress {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 0 0 1rem;
}

/* Project edit */
.projectEdit {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
