.wrapper {
    background-color: lightgrey;
    padding: 1rem;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
}

.dropdown {
    margin: 1rem 0 0 0;
}
