/* You can add global styles to this file, and also import other style files */

:root {
    --nav-light-gray: #f1f1f1;
    --nav-medium-gray: #c4c4c4;
    --nav-light-green: #99dead;
    --nav-dark-blue: #00243a;
    --nav-primary-blue: #2a67c5;

    --body-width: 60rem;
}

.navds-panel {
    width: var(--body-width);
    margin: 2.5rem auto;
}

.navds-panel > .navds-button {
    position: absolute;
    left: calc(((100% - 60rem) / 2) + 60rem + 1rem);
}

body {
    background-color: var(--nav-light-gray);
}
