/* You can add global styles to this file, and also import other style files */

:root {
    --nav-light-gray: #f1f1f1;
    --nav-medium-gray: #c4c4c4;
    --nav-light-green: #99dead;
    --nav-dark-blue: #00243a;
    --nav-primary-blue: #2a67c5;

    --body-width: 60rem;
}

.navds-panel {
    max-width: var(--body-width);
    margin: 2.5rem auto;
}

.navds-panel > .navds-button,
.navds-panel > a > .navds-button {
    position: absolute;
    /* Position element to the right of body with 1rem margin */
    left: calc(((100% - var(--body-width)) / 2) + var(--body-width) + 1rem);
}

body {
    background-color: var(--nav-light-gray);
}
