.employeeLandingPageContainer {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    margin-left: 25rem;
    margin-right: 25rem;
}

.newProjectButtonContaner {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
}